body {
  scroll-behavior: smooth;
}
.smol-container {
  width: min(100% - 3rem, var(--container-max, 60ch));
  margin-inline: auto;
}

header {
  display: flex;
  flex-direction: row;
}

h1 {
  flex: 2;
}

h1,
h2,
h3,
h4 {
  text-align: center;
  font-family: monospace;
}

#random {
  text-align: right;
}
#editor {
  position: relative;
  width: 100%;
  height: 300px;
  margin: 0 auto;
}

body {
  font-family: Helvetica, sans-serif;
  color: var(--ctp-macchiato-crust);
}

.decoration {
  height: 75px;
}

menu {
  width: 100%;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 4px;
  grid-template-columns: repeat(2, 1fr);
}

#sticky-menu {
  grid-template-columns: repeat(4, 1fr);
  position: sticky;
  text-align: center;
  bottom: 0;
}

#bookshelf {
  display: flex;
  flex-direction: row;
  overflow-y: scroll;
  border: 1px var(--ctp-macchiato-crust) solid;
  max-width: 100%;
}

button,
.button {
  all: unset;
  border: 1px var(--ctp-macchiato-crust) solid;
  padding: 8px;
  margin: 4px 0px;
  cursor: pointer;
  border-radius: 4px;
  background-color: white;
}

button:hover,
.button:hover {
  box-shadow: 0px 0px 8px var(--ctp-macchiato-lavender);
}

button:active,
.button:active {
  background-color: var(--ctp-macchiato-overlay2);
  color: white;
  box-shadow: 0px 0px 8px var(--ctp-macchiato-lavender);
  border: 1px var(--ctp-macchiato-overlay) solid;
}

figure {
  margin: 0;
}

.right {
  text-align: right;
}

#code,
figure {
  border: 1px var(--ctp-macchiato-crust) dashed;
}

#code {
  padding: 8px;
}

#preview {
  border: 15px solid transparent;
  border-image: url("../assets/square-frame.png") 150 round;
  height: 300px;
}

#top-right,
#bottom-left {
  position: relative;
}

#top-right {
  bottom: -30px;
  left: -15px;
  height: 40px;
}

#bottom-left {
  top: -30px;
  left: -15px;
  height: 50px;
}

iframe {
  width: 100%;
  height: 300px;
  border: none;
}

figure,
figcaption {
  display: flex;
  flex-direction: row;
}

select,
input {
  all: unset;
  background-color: white;
  border: 1px solid var(--ctp-macchiato-red);
  border-radius: 4px;
  padding: 4px;
}

#addContent,
.book {
  padding: 4px;
  border-radius: 4px;
}

.no-margin {
  padding-bottom: 0;
}

@keyframes change-color {
  0% {
    background-color: #fff;
    color: var(--ctp-macchiato-crust);
  }

  100% {
    background-color: var(--ctp-macchiato-red);
    box-shadow: 0px 0px 4px 4px var(--ctp-macchiato-rosewater);
    color: white;
  }
}

:target {
  animation-name: change-color;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  padding: 4px;
  border-radius: 4px;
}

.book {
  text-align: center;
}

#bookmarks {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.rewind {
  border: 1px solid var(--ctp-macchiato-red);
}

.margin {
  display: block;
}

#bookmarks:empty:before {
  content: attr(data-text);
  padding: 8px;
  margin-bottom: 4px;
  color: var(--ctp-macchiato-crust);
}

figcaption:empty:before {
  content: attr(data-text);
  padding: 8px;
  margin-top: 8px;
  color: var(--ctp-macchiato-crust);
}
